<!-- Preloader -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>

	<!-- Navigation start -->
	<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">

		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Ellis Pro Media</a>
			</div>

			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">

					<li><a href="#home">Home</a></li>
					<li><a href="#about" class="section-scroll">Who We Are</a></li>
					<li><a href="#features" class="section-scroll">What We Do</a></li>
					<li><a href="#works" class="section-scroll">How We Work</a></li>
					<li><a href="#team" class="section-scroll">Team</a></li>
					<li><a href="#pricing" class="section-scroll">Prices</a></li>
					<li><a href="#news" class="section-scroll">News</a></li>
					<li><a href="#contact" class="section-scroll">Contact</a></li>

				</ul>
			</div>

		</div>

	</nav>
	<!-- Navigation end -->
